*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}
h1{
font-size: 64px;
background-color: aquamarine;
width: auto;
text-transform: uppercasex;
opacity: 0;
}
button{
    width: 100%;
    border-radius: 25px;
    height: 50px;
}
